/* --tea-green: #c5ebc3ff;
--laurel-green: #b7c8b5ff;
--lilac-luster: #a790a5ff;
--mauve-taupe: #875c74ff;
--eggplant: #54414eff; */

.film-list{ 
    display: flex; 
    width: 90%;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    list-style-type: none;
}

.card{
    box-shadow: 5px 5px 1px #a790a5ff;
    border-radius: 2px;
    border-style: solid;
    border-color: #875c74ff;
    border-width: 0.5px;
    margin-top: 10px;
    
}

.favorites-list{
    display: flex;
    width: 100%;
    height: 500px;
    flex-flow: row wrap;
    justify-content: space-between;
    text-align: center;
    list-style-type: none;
    border-style: solid;
    border-color: #b7c8b5ff;
}

* {
    color: #54414eff;
}