.film-list{ 
    display: flex; 
    width: 90%;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    list-style-type: none;
}

.card{
    box-shadow: 5px 5px 1px lightblue;
    border-radius: 2px;
    border-style: solid;
    border-color: navy;
    border-width: 0.5px;
    margin-top: 10px;
    
}

.favorites-list{
    display: flex;
    width: 100%;
    height: 500px;
    flex-flow: row wrap;
    justify-content: space-between;
    text-align: center;
    list-style-type: none;
    background-color: plum;
}